extends ../layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-info my-10 float-right") Add New Product
    table.table
        thead
            tr
                th(style="text-align:center") Name
                th(style="text-align:center") Category
                th(style="text-align:center") Price
                th(style="text-align:center") Details
                th(style="text-align:center") Image
                th(style="text-align:center") Actions
        tbody
            each product in products
                tr
                    td(style="text-align:center")=product.prName
                    td(style="text-align:center")=product.prCategory
                    td(style="text-align:center")=product.prPrice
                    td(style="text-align:center")=product.prDetails
                    td(style="text-align:center")=product.prImage
                    td(style="text-align:center")
                        a(href="/products/delete/"+product._id, class="btn faas btn-danger") <i class="fas fa-trash-alt"></i>




